.circles {
	border-radius: 100%;
	position: fixed;
}


body.kid.title-page{
	.circle1 {background-color: $color_wait;}
	.circle8 {background-color: $color_done;}
	.circle9 {background-color: $color_undone;}
	.circle10 {background-color: $color_base;}
}

@media (orientation: portrait){  
	.circle1{
		left: 20vw;
		top: 275px;
		margin-top: 25vw;
		width: 60vw;
		height: 60vw;
	}

	.circle8{
		left: 2vw;
		top: 275px;
		margin-top: 70vw; 
		width: 40vw;
		height: 40vw;
	}

	.circle9{
		right: 2vw;
		top: 275px;
		margin-top: 60vw; 
		width: 30vw;
		height: 30vw;
	}

	.circle10{
		right: 10vw;
		top: 275px;
		margin-top: 3vw; 
		width: 35vw;
		height: 35vw;
	}
}

@media (orientation: landscape){  
    .circle1{
		top: 50%;
		margin-top:-30vh;
		left: 50%;
		margin-left: -30vh;
        width: 60vh;
		height: 60vh;
	};

	.circle8{
		right: 50%;
		margin-right: 22vh; 
		bottom: 10vh; 
		width: 40vh;
		height: 40vh;
	}

	.circle9{
		left: 50%;
		margin-left: 13vh; 
		bottom: 5vh;
		width: 30vh;
		height: 30vh;
	}

	.circle10{
		right: 50%;
		margin-right: -55vh;
		top: 18vh;
		width: 35vh;
		height: 35vh;
	}
}
