
li.bohater {
	position: relative;
	margin: 3rem 2rem;
	display: inline-block;	
	height: 9rem;
	width: 7.5rem;
	transition: all 1s;
	transform-origin: 50% 50%;
	&:hover{transform: scale(1.2);}
	cursor: pointer;


	img{
		position: absolute;
		margin: auto;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		height: 100%;
		
		
	}

	p{
		position: absolute;
		bottom:-6rem;
		left: -20%;
		display: block;
		width: 140%;
		height: $font_mid_size*3;
		font: $font_mid_size $font_reg_family;
		text-align: center;
		color: white;
	}

}



img.green {
	width: 5rem;
} 
img.green:hover{
	border-color: #e9d566;
	box-shadow: 0 0 100px rgba(255, 251, 0, 0.6);
	border-radius: 50%;
  }

div.odznaki {
	@media (orientation: landscape){
		display: inline-block;
		vertical-align: top;
		width: 38%;		
	}

	margin-top: 5rem;



	p {
		font: $font_mid_size $font_reg_family;
	}
}

.lista-odznak {
	@media (orientation: landscape){
		display: inline-block;
		width: 58%;		
	}

}

.heroProgress{
	padding: 1rem;
	margin-left: 3rem;


  .progress-done p {
    width: 10rem;
    left: -11rem;
    text-align: right;
  }

  @media (orientation: portrait){
	  display: inline-block;
	  width: 48%;
	  vertical-align: top;
  }
}


li.bohater .badge-gain{
	height: auto;
	font-size: $font_small_size;
	opacity: 0.5;
	background-color: white;
	border-radius: $border_radius;
	color: $color_back_kid;
	bottom: -1rem;
	padding: 0.5rem 0;
	&-true {
		background-color: $color_wait;
		opacity: 1.0;
		border: white 1px solid;
	}
}