// ----- CIRCLES ------

//@import '_zmienne';

li.circle-big {
	position: relative;
	margin: 1.0rem;
	display: inline-block;	
	height: $mission_big_size;
	width: $mission_big_size;
	border-width: $mission_big_size/20;
	border-style: solid;
	border-radius: $mission_big_size;
	background-color: white;
	cursor: pointer;
	&:hover {
		box-shadow: 0 0 50px rgba(black, 0.4);
	}

	// mission icon
	img{
		position: absolute;
		margin: auto;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height:0.7*$mission_big_size;
		width: 0.7*$mission_big_size;
	}

	//star - background for points
	.star {
		position: absolute;
		top:-1.5rem;
		right:-2rem;
		width: 5rem;
		height: 5rem;
		text-align: center;
	}


	// number of points for mission
	span{
		position: absolute;
		top:-1.5rem;
		right:-1.5rem;
		color:white;
		font: $font_big_size $font_reg_family;
		display: block;
		width:4rem;
		height: 5rem;
		text-align: center;
		line-height: 5.5rem;
	}

	p{
		position: absolute;
		bottom:-$font_mid_size*3-1rem;
		left: -20%;
		display: block;
		width: 140%;
		height: $font_mid_size*3;
		font: $font_mid_size $font_reg_family;
		text-align: center;
	}

	span.dayList{
		display:block;
		width: 100%;
		height: 2rem;
		background-color: $color_light_grey;
		color:$color_text_parent;
		border-radius: 0.5rem;
		font: $font_mini_size $font_reg_family;
		position: relative;
		top:0;
		left:0;
		// word-spacing: 3px;
		padding: 0.2rem 0px;
		
	}
	
}

//space for name of mission
.mission-neutral li.circle-big {margin: 2rem 4% $font_mid_size*5 4%; }

li.circle-mid {
	position: relative;
	margin: 1.0rem;
	display: inline-block;	
	height: $mission_mid_size;
	width: $mission_mid_size;

	border-width: $mission_mid_size/20;
	border-style: solid;
	border-radius: $mission_mid_size;
	background-color: white;
	cursor: pointer;
	&:hover {
		box-shadow: 0 0 50px rgba(black, 0.4);
		//box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}



	// mission icon
	img{
		position: absolute;
		margin: auto;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		height:0.7*$mission_mid_size;
		width: 0.7*$mission_mid_size;
	}

	//star - background for points
	.star {
		position: absolute;
		top:-1rem;
		right:-1.5rem;
		width: 4rem;
		height: 4rem;
	}

	// number of points for mission
	span{
		position: absolute;
		top:-1rem;
		right:-1rem;
		color:white;
		font: $font_mid_size $font_reg_family;
		display: block;
		width: 3rem;
		height: 4rem;
		text-align: center;
		line-height: 4.5rem;

	}

	p{
		position: absolute;
		bottom:-$font_mid_size*3-1rem;
		display: block;
		width: 100%;
		height: $font_mid_size*3;
		font: $font_small_size $font_reg_family;
		text-align: center;

	}

}

.circle-small {
	display:inline-block;
	height: $mission_small_size;
	width: $mission_small_size;
	border-radius: $mission_small_size;
	margin: 0.5rem;
}

// ----- THUMBS to move missions UP or DOWN ----

.thumb {
	position: absolute;
	height: 100%;
	width: 100%;
	padding:10px;
	z-index: 500;
	top:0;

	border-radius: 100%;
}
.thumb-down {
	left: - 120% ;
	background-color: $color_undone;
}

.thumb-up {
	right: - 120% ;
	background-color: $color_done;
}	


// ADD new ITEM

.plus {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	height: $mission_mid_size;
	width: $mission_mid_size;
	z-index: 500;
	border: $border_width white solid;
	border-radius: 100%;
	background-color: $color_base;
	color: white;
	font: $font_title_size $font_title_family;
	line-height: $mission_mid_size;
	text-align: center;
	cursor: pointer;
	transition: all 1s;
	transform-origin: 50% 50%;
	&:hover{transform: scale(1.2);}
}


.back {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	height: $mission_mid_size;
	width: $mission_mid_size;
	z-index: 500;
	border: $border_width white solid;
	border-radius: 100%;
	background-color: $color_base ;
	color: white;
	font: $font_title_size $font_title_family;
	line-height: $mission_mid_size;
	text-align: center;
	cursor: pointer;
	transition: all 1s;
	transform-origin: 50% 50%;
	&:hover{transform: scale(1.2);}	
}

a {
	.plus{
	font: $font_title_size $font_title_family;
	line-height: $mission_mid_size;
	}
}