//----- HEADER --------

//@import '_zmienne';

header{
	position: fixed;
	padding-top:$header_banner_space;
	top: 0px;
	left: 0px;
	width: 100%;
	max-width: $max_width;
	margin: auto;
	height: $header_banner_height;
	z-index: 1000;
	
	//to change with real logo image
	.logo {
		position: fixed;
		top: 0px;
		left: $odznaki_right;	
		height: $header_logo_size;
		//transition:2s ease-in-out ;
	}

	.header-banner {
		position: fixed;
		top: $header_banner_space;
		left: 0px;
		width: 100%;
		height: $header_banner_height;
		cursor: pointer;

		font: 0.75*$font_title_size $font_title_family;
		text-align: center;
		padding-left: 5%;
		line-height: $header_banner_height+0.5rem;
		vertical-align: middle;
	}

	label[for="nav"] {
	  position: fixed;
	  right: $header_banner_space + ( $header_banner_height - $header_hamburger_size ) / 2;
	  top:  $header_banner_space + ( $header_banner_height - $header_hamburger_size ) / 2;
	  height: $header_hamburger_size;
	  width: $header_hamburger_size;

	  cursor: pointer;
	  background-image: url(../assets/menu-button.svg);
	  background-size: contain;
	  z-index: 999;
	}

	nav{
		position: fixed;
		top: ( $header_banner_height + 2* $header_banner_space );
		right:0px;
		width: 100%;
		height: 100vh;
		background:  $color_back_parent url(../assets/background_parent.svg) top 75px center no-repeat;
		background-size: 100%;	
		// background-color: $color_back_parent;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    
		li{
			display:block;
			height: 11vh;
			width: 100%;
			font: 1.2*$font_big_size $font_reg_family;
			line-height: 11vh; 
			color: $color_text_parent;
			text-align: center;
			margin-bottom: 0.5rem;
			background-color: rgba(white,0.4);
			border-radius: $border_radius;
			box-shadow: 0 5px 10px 0 dimgray;
		}
		a{	
			display:block;
			height: 11vh;
			width: 100%;
			font: 1.2*$font_big_size $font_reg_family;
			line-height: 11vh;
			color: $color_text_parent !important; 
		}
		li:hover {
			box-shadow: 0 0 50px dimgray;
		}
		.nav-main {
			margin-left: 1%;
			margin-top: 0.5rem;
		}
		.nav-main li {	
			position: relative;
			display: inline-block;
			height: 22vh;
			width: 49%;
			// text-align: right;
			padding: 2vh 0;
			font: 1.5*$font_big_size $font_reg_family;
			vertical-align: bottom;
			// line-height: 25vh;
			img {
				// position: absolute;
				// top: 1rem;
				// left: 1rem;
				height: 10vh;
			}
		}
		.nav-add {
			margin-left: 1%;
			margin-right:1%;
		}
	}
}

.kid header{
	background-color: $color_back_kid;
	.header-banner {
		background-color: mix($color_base,$color_back_kid);
		background-color: $color_base;
		color: $color_text_kid;
		//text-shadow: 0 0 10px $color_back_kid;//@include stroke(3,$color_back_kid);		
	}
	label[for="navigation"] {
		display:none;
	}
}

.kid.title-page header {
	
	.header-banner {
		//background-color: mix($color_base,$color_back_kid);
		background-color: white;
		color: $color_base;
		width: 80%;
		left: 10%;
		border-radius: 30px;


		//text-shadow: 0 0 10px $color_back_kid;//@include stroke(3,$color_back_kid);		
	}
}
.parent header{
	background-color: $color_back_parent;
	.header-banner {
		background-color: white;
		color: $color_base;
	}
}

