.avatars{
    position: relative;
    width: 80%;
    margin: 1.5rem auto;

    input{
      display: none;
      padding: none;
    }

    img {
      height: 12rem;
      padding: 1rem;
    }

    input + img {
      cursor: pointer;
      border: $border_width solid transparent;
    }

    input:checked + img {
      border: $border_width solid $color_base;
      border-radius: $border_radius; 
      background-color: white;
    }

    p{
      font: 2.5rem "IntroRustH1-Base",cursive;
      margin-top: 0.5rem;
    }

 }

  
  
  
  .kr-gender-label {
    width: 11% !important;
    margin-right: 15px !important;
  }
  
  