.kid-container {
  position:relative;
  //  height: 700px;
    //border: 2px solid #008aff;
    color: $color_text_parent;
    width: 85%;
    margin: 2.5rem auto;
    margin-bottom: 3.5rem;
    font: 2rem $font_reg_family;
    text-align: center;
    border-radius: $border_radius;
    cursor: pointer;
    background-color: transparentize(white,0.2);

}

@media (min-width: 1200px) and (orientation: landscape){  
  .kid-container {
    display: inline-block;
    width: 40%;
    margin: 2.5rem 2%;

    .kid-icon {
      width:20%;
    }
  }

}

.total-progress {
  margin: 0px auto;
  margin-top: -1rem;
  margin-bottom: 1.0rem;
  width: 100%;
  //background-color: $color_back_parent;
  padding: 1.0rem;
  // .progress{
  //   margin: 20px auto;
  // }
}

.kid-label {
  top: -2rem;
  color: white !important;
  border-radius: $border_radius;
  border: 2px solid $color_base;
  position: relative;
  background-color: $color_base;
  text-align: center;
  padding: 1.0rem 0.5rem;
  font: 2.5rem $font_title_family;
  width: 70%;
  margin: auto;
  margin-bottom: 0px;
  &::after{
        content: '';
        height: 100%;
        width: 10%;
        position: absolute;
        top: 0px;
        right: 5%;
        background: url(../assets/login.svg) center center no-repeat; background-size: 80%;
      }
}

.kid-icon {
  margin: 1.5rem 1.5%;
  width: 6rem;
  display: inline-block;
  vertical-align: top;
  img {
    width: 80%;
  }
  position:relative;
  .star {
    position: absolute;
    top: 0;
    right: 0;
    fill: $color_base;
    width: 40%;
  }
  span{
    position: absolute;
    width:40%;
    text-align: center;

    top: 0px;
    right: 0;
    color:white;
    font: $font_small_size $font_reg_family;
    line-height: 2.6rem;
  }
}



.enlarge:hover {
  transform: scale(1.2);
}

.enlarge {
  transition: all 1s;
  transform-origin: 50% 50%;
}

