@import '_zmienne';

.mission-active li.circle-big{
    display:inline-block;
    position: relative;
    color: white;
    margin: 2rem 25rem 2rem 1rem;
    p{
        position: absolute;
        left: 11rem;
        top: 0;
        display: block;
        width: 20rem;
        text-align: left;
        font: $font-mid-size $font-reg-family;
    }
    .progress{
        width: 20rem;
        position: absolute;
        left: 11rem;
        top: 3rem;
        margin: 0;
        img.img-right{
            position: absolute;
            top: -7.5rem;
            right: -20rem;
            width: 3rem;
            height: 3rem;
            display: block;

        }
    }

    .progress-done {
        p {
            position: absolute;
            left: 0;
            top: 3rem;
            display: block;
            width: 20rem;
            text-align: left;
            font: $font-mid-size $font-reg-family;
            color:white;
        }
    }
}

.mission-done {
    .progress-done{
        background-color: $color-done;
        &::after {
            content: '';
            width: 3rem;
            height: 3rem;
            position: absolute;
            top: -2rem;
            right: 0;
            background: url(../assets/gift.svg) center center no-repeat; background-size: 100%;
        }
    }
}

.mission-unactive, .mission-wait {
   li.circle-big {
        color: white;
        margin-bottom: 4rem;
   } 
}