// ---- MENU kid CLASS ------

@import '_zmienne';

ul {
    @media (orientation: portrait){ 
        margin-top: -7.5rem;
    }
}
ul {
	position: relative;
	width: 100%;
	height: 80vh;

	li {
	text-align: center;
	font: 2rem $font_title_family;
	color: white;
	border-radius: 100%;
	border: 2px white solid;
	position: absolute;
    }
		p {
			display: inline-block;
			width: 100%;
			position: absolute;
			bottom: 20%;
			left: 0px;
			z-index:500;
		}
}

li.menu-misje {
    @media (orientation: portrait){
        right: 2vw;
        top: 150px;
        margin-top: 60vw; 
        width: 30vw;
        height: 30vw;
    }
    @media (orientation: landscape){ 
        left: 50%;
        margin-left: 13vh; 
        bottom: 5vh;
        width: 30vh;
        height: 30vh;
    }
    background: $color_undone url(../assets/mission.svg) top 20% center no-repeat; 
    background-size: 50%;
    &:hover{background-color: darken($color_undone,10%);}
}
    
li.menu-odznaki {
    @media (orientation: portrait){
        right: 10vw;
        top: 150px;
        margin-top: 3vw; 
        width: 35vw;
        height: 35vw;
    }
    @media (orientation: landscape){ 
        right: 50%;
        margin-right: -55vh;
        top: 0;
        width: 35vh;
        height: 35vh;
    }
    background: $color_base url(../assets/odznaki.png) top 20% center no-repeat; 
    background-size: 90%;
    &:hover{background-color: darken($color_base,10%);}
}
    
li.menu-bohater{ 
    @media (orientation: portrait){
        left: 20vw;
        top: 150px;
        margin-top: 25vw;
        width: 60vw;
        height: 60vw;
    }
    @media (orientation: landscape){ 
        top: 40%;
        margin-top:-30vh;
        left: 50%;
        margin-left: -30vh;
        width: 60vh;
        height: 60vh;
    }
    background: $color_wait; 
    background-size: 40%;
    &:hover{background-color: darken($color_wait,10%);}
    p{bottom: 10% !important}
}
    
li.menu-nagrody{
    @media (orientation: portrait){
        left: 2vw;
        top: 150px;
        margin-top: 70vw; 
        width: 40vw;
        height: 40vw;
    }
    @media (orientation: landscape){ 
        right: 50%;
        margin-right: 22vh; 
        bottom: 10vh; 
        width: 40vh;
        height: 40vh;
    }
    background: $color_done url(../assets/gift.svg) top 30% center no-repeat; 
    background-size: 40%;
    &:hover{background-color: darken($color_done,10%);}
}

.logout {
    position: fixed;
    top: auto;
    bottom: 0;
    right: 0;
    z-index: 10000;
}



